
<div class="forgotPassword my-5">
    <h2 class="fw-bold py-4">please enter your verification code</h2>
    <form [formGroup]="forgotForm" class="w-75 mx-auto" (ngSubmit)="forgotPassword(forgotForm)">

        <input formControlName="email" type="email" id="email" class="form-control" placeholder="Enter Your Email"/>
     <p class="text-success my-3" *ngIf="successMessage.length>0">{{successMessage}}</p>
     <p class="text-danger my-3" *ngIf="errMessage.length>0">{{errMessage}}</p>

        <button class="btn btn-outline-success float-end  my-3">send code</button>
    </form>
   </div>
   
   <div class="verifyCode d-none my-5">
    <form [formGroup]="verifyCodeForm" class="w-75 mx-auto" (ngSubmit)="verifyCode(verifyCodeForm)">
        <label for="resetCode">resetCode</label>
        <input formControlName="resetCode" type="email" id="resetCode" class="form-control"/>
        <p class="text-danger my-3" *ngIf="verifyerr.length>0">{{verifyerr}}</p>

        <button class="btn bg-main float-end text-light my-3">send code</button>
    </form>
   </div>